
@import url('https://fonts.cdnfonts.com/css/adobe-clean');
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
 

}


.react-calendar__navigation{

  background-color: black;
  color: white;

}
.overflow-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.overflow-scroll {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
